header {
    height: 85vh;
    margin-top: 15px;

// NAVIGATION
    .nav {
        // position: fixed;
        background-color: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px; 
        
        // position: fixed;
        
        .logo {
            width: 80px;
            height: 60px;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;

        a {
            display: inline-block;
            font: 300 1.8rem $primaryFont;
            letter-spacing: 2px;

            position: relative;
            margin: 0 10px;
            padding: 0 10px 10px;

            transition: all 0.4s ease;
            
            &:after {
                content: "";
                position: absolute;
                height: 2px;
                background-color: $accentColor;
                width: 0;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
            }
        }
    }
    
    // HEADER CONTENT
    .design {
        height: 70px;
        border: 2px solid black;
        border-bottom: none;

        position: relative;

        .borderAccent {
            background-color: $accentColor;
            border: 2px solid #000;

            width: 25px;
            height: 60px;

            position: absolute;
            bottom: 20px;
            left: 17.3%;
        }
    }

    section {
        background-color: $secondaryBackgroundColor;
        min-height: 509px;
        height: 85%;

        .border {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        .headerCont {
            display: flex;

            div {
                width: 50%;

                .profilePicTwo {
                    width: 75%;
                    filter: grayscale(100%);
                    transition: .3s ease-in-out all;
                    cursor: crosshair;
    
                    &:hover,
                    &:focus {
                        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
                        filter: grayscale(0);
                    }
                }    
            }

            h1 {
                font: 100 4rem $primaryFont;

                span {
                    font-weight: 700;
                }
            }

            h2 {
                color: #000;
                font: 700 8rem $primaryFont;
                letter-spacing: 2px;

                position: relative;
                z-index: 100;

                &::before {
                    content: '';
                    background-color: #FFF;
                    width: 60%;
                    height: 25%;
                    position: absolute;
                    bottom: 9%;
                    left: 4%;
                    z-index: -10;
                }

                span {
                    font-size: 6rem;
                }
            }

            p {
                font: 300 4rem $primaryFont;
                letter-spacing: 2px;
            }

            img {
                background-color: none;
                width: 15%;
            }
        }
    }
}