// ABOUT SECTION
.about {
    padding: 150px 0 150px;

    .wrapperTwo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 55%;

            :nth-child(2) {
                font: 700 2.2rem $primaryFont;
                margin: 40px 0 20px;
            }

            :nth-child(3),
            :nth-child(4) {
                font: 300 1.8rem $primaryFont;
                line-height: 3rem;
                letter-spacing: 1px;
                padding-bottom: 10px;
            }

            .resume {
                font: 300 1.8rem $primaryFont;
                text-align: center;
                background-color: $buttonColor;
                color: #FFF;
                width: 65%;
                padding: 10px 20px;
            }
        }
    
        .imgCont {
            min-width: 270px;
            width: 35%;
    
            img {
                border: 2px solid #000;
                box-shadow: none;
                
                filter: grayscale(100%);
                transition: .3s ease-in-out all;
                cursor: crosshair;
    
                &:hover,
                &:focus {
                    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
                    filter: grayscale(0);
                }
            }
        }
    }
}

// SKILLS / CONTACT SECTION HEADER
.skills,
.contact {
    
    .background {
        background-color: $secondaryBackgroundColor;
        height: 350px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;
        }
        
        h3::before {
            background-color: #FFF;
            opacity: 1;
            width: 50%;
            left: 48%;
        }
    }

// ICONS SECTION
    .icons {

        .iconCont {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            position: relative;
            bottom: 84px;
            padding-bottom: 30px;

            li {
                text-align: center;

                padding-top: 50px;
                width: 25%;
                min-width: 150px;

                i {
                    font-size: 8rem;
                    color: $fontColor;
                    width: 100%;
                    cursor: crosshair;

                    &:hover,
                    &:focus {
                    display: inline-block;
                    margin: 0 0.5rem;

                    animation: shakeX;
                    animation-duration: 2s;
                    }
                }

                p {
                    font: 300 1.8rem $primaryFont;
                    padding-top: 20px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

.projectCont {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    h3 {
        width: 75%;
        margin-bottom: 100px;
    }

    div {
        display: flex;
        flex-direction: column;
        border: 2px solid #000;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 10px;

        width: 60%;
        padding: 30px;
        margin-bottom: 100px;

        position: relative;

        h4 {
            font: 700 2.2rem $primaryFont;
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        img {
            width: 25%;
        }

        p {
            font: 300 1.8rem $primaryFont;
            letter-spacing: 2px;
            width: 77%;
            padding-bottom: 20px;
        }

        button {
            border: 2px solid #000;
            margin-bottom: 5px;

            a {
                text-transform: uppercase;
            }
        }

        .links {
            font-weight: 700;

            a:hover,
            a:focus {
                animation: flash;
                animation-duration: 2s;
            }
        }

        .mockUpTwo,
        .mockUpFour {
            background-color: black;
            position: absolute;
            min-height: 310px;
            width: 80%;
            bottom: -30%;
            left: 90%;
            padding: 0;

            .video {
                width: 100%; 
                height: 310px; 
                border: none; 
                padding: 0;
                margin: 0;
            }
        }
    }

    .projects {
        display: flex;
        align-self: flex-end;
        align-items: flex-end;

        position: relative;

        .links {
            text-align: end;
        }

        .mockUpOne,
        .mockUpThree,
        .mockUpFive {
            background-color: black;
            position: absolute;
            min-height: 310px;
            width: 80%;
            bottom: -30%;
            right: 90%;
            padding: 0;

            .video {
                width: 100%; 
                height: 310px; 
                border: none; 
                padding: 0;
                margin: 0;
            }
        }
    }
}

// CONTACT SECTION
.contact {

    .background {
        height: 400px;
    }
}

.contactCont.border {

    .emailCont {
        align-items: center;
        text-align: center;

        a {
            width: max-content;

            p {
                font: 700 2.2rem $primaryFont;
                margin: 40px 0 20px;
            }
        }
    }
    
    .contactIcons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: start;

        i {
            font-size: 5rem;
            color: $fontColor;
            text-shadow: #FFF 5px 5px;

            width: 100%;
            margin: 0 10px;
            padding: 20px;
            cursor: pointer;
    
            &:hover,
            &:focus {
            display: inline-block;
            margin: 0 0.5rem;
    
            animation: shakeX;
            animation-duration: 2s;
            }
        }
    }
}

.bottomDesign {
    height: 70px;
    border: 2px solid black;
    border-top: none;
}

// FOOTER

footer {
    text-align: center;
    height: 50px;
    margin: 50px 0;

    p {
        font: 300 2rem $primaryFont;
        position: relative;
        z-index: 10;

        &::before {
            content: '';
            background-color: $heading;
            opacity: .3;
            width: 16%;
            height: 50%;
            position: absolute;
            bottom: 44%;
            left: 41.8%;
            z-index: -10;
        }
    }

    img {
        min-width: 80px;
        width: 3%;
    }
}