// ABOUT SECTION
.about {
    padding: 150px 0 150px;

    .wrapperTwo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 55%;

            :nth-child(2) {
                font: 700 2.2rem $primaryFont;
                margin: 40px 0 20px;
            }

            :nth-child(3),
            :nth-child(4) {
                font: 300 1.8rem $primaryFont;
                line-height: 3rem;
                letter-spacing: 1px;
                padding-bottom: 10px;
            }
        }
    
        .imgCont {
            min-width: 270px;
            width: 35%;
    
            img {
                box-shadow: none;
                
                filter: grayscale(100%);
                transition: .3s ease-in-out all;
                cursor: crosshair;
    
                &:hover,
                &:focus {
                    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
                    filter: grayscale(0);
                }
            }
        }
    }
}

// SKILLS / CONTACT SECTION HEADER
.skills,
.contact {
    
    .background {
        background-color: $secondaryBackgroundColor;
        height: 350px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;
        }
        
        h3::before {
            background-color: #FFF;
            opacity: 1;
            width: 50%;
            left: 48%;
        }
    }

// ICONS SECTION
    .icons {

        .iconCont {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            position: relative;
            bottom: 84px;
            padding-bottom: 30px;

            li {
                text-align: center;

                padding-top: 50px;
                width: 25%;
                min-width: 150px;

                i {
                    font-size: 8rem;
                    color: $fontColor;
                    width: 100%;
                    cursor: crosshair;

                    &:hover,
                    &:focus {
                    display: inline-block;
                    margin: 0 0.5rem;

                    animation: shakeX;
                    animation-duration: 2s;
                    }
                }

                p {
                    font: 300 1.8rem $primaryFont;
                    padding-top: 20px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

// PROJECT SECTION
.animateOne {
    animation: fadeInLeft;
    animation-duration: 2s;
}

.animateTwo {
    animation: fadeInRight;
    animation-duration: 2s;
}

.projectCont {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    h3 {
        width: 75%;
        margin-bottom: 100px;
    }

    div {
        display: flex;
        flex-direction: column;
        border: 2px solid #000;
        box-shadow: $accentColor -10px 10px;

        width: 60%;
        padding: 30px;
        margin-bottom: 200px;

        position: relative;

        h4 {
            font: 700 2.2rem $primaryFont;
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        img {
            width: 50%;
        }

        p  {
            font: 300 1.8rem $primaryFont;
            width: 77%;
        }

        .links {
            font-weight: 700;
            padding-top: 20px;

        }

        // MOCK UPS
        .mockUpTwo {
            position: absolute;
            width: 80%;
            top: 70px;
            left: 80%;
        }

        
        .mockUpFour {
            position: absolute;
            width: 290px;
            top: 40px;
            left: 90%
        }
    }

    .projects {
        display: flex;
        align-self: flex-end;
        align-items: flex-end;
        box-shadow: $accentColor 10px 10px;

        position: relative;

        animation: fadeInLeft;
        animation-duration: 2s;

        .links {
            text-align: end;
        }

        // MOCK UPS
        .mockUpOneA {
            position: absolute;
            width: 160px;
            top: 8px;
            right: 122%;
            z-index: 20;
        }

        .mockUpOneB {
            position: absolute;
            width: 81%;
            top: 75px;
            right: 80%;
            z-index: 10;
        }


        .mockUpThree {
            position: absolute;
            width: 110%;
            top: 45px;
            right: 65%;
        }   
    }
}

// CONTACT SECTION
.contact {

    .background {
        height: 400px;
    }
}

.contactCont.border {

    .emailCont {
        align-items: center;
        text-align: center;

        a {
            width: max-content;

            p {
                font: 700 2.2rem $primaryFont;
                margin: 40px 0 20px;
            }
        }
    }
    
    .contactIcons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: start;

        i {
            font-size: 5rem;
            color: $fontColor;
            text-shadow: #FFF 5px 5px;

            width: 100%;
            margin: 0 10px;
            padding: 20px;
            cursor: pointer;
    
            &:hover,
            &:focus {
            display: inline-block;
            margin: 0 0.5rem;
    
            animation: shakeX;
            animation-duration: 2s;
            }
        }
    }
}

.bottomDesign {
    height: 70px;
    border: 2px solid black;
    border-top: none;
}


// FOOTER

footer {
    text-align: center;
    height: 50px;
    margin: 50px 0;

    p {
        font: 300 3rem $primaryFont;
        position: relative;
        z-index: 10;

        &::before {
            content: '';
            background-color: $heading;
            opacity: .3;
            width: 36%;
            height: 50%;
            position: absolute;
            bottom: 44%;
            left: 32%;
            z-index: -10;
        }
    }

    img {
        min-width: 100px;
        width: 8%;
    }
}