/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    .navOne {
        display: none;
    }

    header .hamburger {
        display: block;
    }

    .headerCont {
        justify-content: center;
    
        div {
            text-align: center;
        }
    }

    // ABOUT ME SECTION 
    .about {
        padding: 100px 0 100px;

        .wrapperTwo {
            justify-content: center;
    
            div {
                width: 100%;
            }

            .imgCont {
                
                img {
                    align-self: center;
                    width: 97%;
                    margin-top: 40px;
                    
                }
            }
        }
    }

    // PROJECT SECTION
    .mockUpOneB {
        display: none;
    }
    .projectCont div,
    .projectCont .projects {
        width: 100%;
        margin-bottom: 100px;

        h4,
        p {
            font-size: 1.6rem;
            width: 100%;
        }

        .links {
            text-align: center;
        }

        .mockUpOneA,
        .mockUpTwo,
        .mockUpThree,
        .mockUpFour {
            position: initial;
            width: 100%;
            margin-top:20px;
        }

        .mockUpThree {
            width: 138%;
            align-self: center;
        }

        .mockUpOneA,
        .mockUpFour {
            position: initial;
            width: 50%;
            align-self: center;
        }
    }

    .projectCont .projects {
        align-items: start;
    }
}

@media (max-width: 640px) {

    // HEADER
    header section .headerCont .name {

        h1,
        p {
            font-size: 3rem;
        }

        h2 {
            font-size: 4.2rem;

            span {
                font-size: 3.2rem;
            }
        }

        img {
            align-self: center;
        }
    }

    // RESUME

    .about .wrapperTwo div .resume {
        width: 100%;
    }

    // SKILlS ICONS
    .skills .icons .iconCont li {
        
        i {
            font-size: 5rem;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    h3 {
        font-size: 5rem;
    }

    // ABOUT ME SECTION
    .about .wrapperTwo div {
        width: 100%;
    }

    // SKILlS ICONS
    .skills .background {
        height: 200px;
    }

    .skills .icons .iconCont {
        padding-bottom: 0;

        li {
            min-width: 80px;

            p {
                font-size: 1.3rem;
            }
        }
    }

    // PROJECT SECTION

    .projectCont h3 {
        margin-bottom: 50px;
    }

    // MOCK UP
    .projectCont div,
    .projectCont .projects {
        .mockUpOneA,
        .mockUpFour {
            width: 100%;
        }
    }

    // CONTACT SECTION

    .contactCont.border .emailCont a p {
        font-size: 1.8rem;
    }

    .contactCont.border .contactIcons i {
        font-size: 4rem;
        padding: 5px;
    }

    // FOOTER

    footer p {
        font-size: 1.8rem;

        &::before {
            width: 70%;
            left: 15%;
        }
    }
}