html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body,
section,
h1,
h2,
h3,
h4,
a,
p,
ul,
li,
form,
select,
button {
  padding: 0;
  margin: 0;
  color: #141c24;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  border: none;
  background: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.wrapperTwo {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.border {
  border: 2px solid #000;
  border-top: none;
  border-bottom: none;
  height: 100%;
}

h3 {
  font: 100 7rem "Noto Sans JP", sans-serif;
  position: relative;
  z-index: 10;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

h3::before {
  content: '';
  background-color: #6cb5ff;
  opacity: .3;
  width: 100%;
  max-height: 29px;
  height: 25%;
  position: absolute;
  bottom: 9%;
  left: 4%;
  z-index: -10;
}

h3:hover, h3:focus {
  cursor: crosshair;
}

button {
  background-color: #a3d1ff;
  width: 150px;
  padding: 10px 20px;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

.paired {
  font-weight: 700;
}

header {
  min-height: 670px;
  height: 85vh;
  margin-top: 15px;
}

header .hamburger {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

header .hamburger .navTwo {
  display: none;
  position: relative;
}

header .hamburger .navTwo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #000;
  width: 150px;
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 30;
}

header .hamburger .navTwo ul li {
  background-color: #FFF;
}

header .hamburger .show {
  display: block;
}

header .hamburger .hide {
  display: none;
}

header .hamburger i {
  font-size: 4rem;
}

header .nav {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

header .nav .logo {
  width: 80px;
  height: 60px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul a {
  display: inline-block;
  font: 300 1.8rem "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  margin: 0 10px;
  padding: 0 10px 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header ul a:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #4141fa;
  width: 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

header ul a:hover:after, header ul a:focus:after {
  width: 100%;
}

header .design {
  height: 70px;
  border: 2px solid black;
  border-bottom: none;
  position: relative;
}

header .design .borderAccent {
  background-color: #4141fa;
  border: 2px solid #000;
  width: 25px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  left: 17.3%;
}

header section {
  background-color: #a3d1ff;
  min-height: 509px;
  height: 85%;
}

header section .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

header section .headerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header section .headerCont div {
  min-width: 250px;
  width: 50%;
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

header section .headerCont div .profilePicTwo {
  border: 2px solid #000;
  width: 75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
  cursor: crosshair;
}

header section .headerCont div .profilePicTwo:hover, header section .headerCont div .profilePicTwo:focus {
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

header section .headerCont .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header section .headerCont .name h1 {
  font: 100 4rem "Noto Sans JP", sans-serif;
}

header section .headerCont .name h1 span {
  font-weight: 700;
}

header section .headerCont .name h2 {
  color: #000;
  font: 700 8rem "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
  position: relative;
  z-index: 100;
}

header section .headerCont .name h2::before {
  content: '';
  background-color: #FFF;
  width: 60%;
  max-height: 29px;
  height: 25%;
  position: absolute;
  bottom: 9%;
  left: 4%;
  z-index: -10;
}

header section .headerCont .name h2 span {
  font-size: 6rem;
}

header section .headerCont .name p {
  font: 300 4rem "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
}

header section .headerCont .name img {
  background-color: none;
  width: 35%;
}

.about {
  padding: 150px 0 150px;
}

.about .wrapperTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .wrapperTwo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55%;
}

.about .wrapperTwo div :nth-child(2) {
  font: 700 2.2rem "Noto Sans JP", sans-serif;
  margin: 40px 0 20px;
}

.about .wrapperTwo div :nth-child(3),
.about .wrapperTwo div :nth-child(4) {
  font: 300 1.8rem "Noto Sans JP", sans-serif;
  line-height: 3rem;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.about .wrapperTwo div .resume {
  font: 300 1.8rem "Noto Sans JP", sans-serif;
  text-align: center;
  background-color: #0000E0;
  color: #FFF;
  width: 60%;
  padding: 10px 20px;
}

.about .wrapperTwo .imgCont {
  min-width: 270px;
  width: 35%;
}

.about .wrapperTwo .imgCont img {
  border: 2px solid #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
  cursor: crosshair;
}

.about .wrapperTwo .imgCont img:hover, .about .wrapperTwo .imgCont img:focus {
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.skills .background,
.contact .background {
  background-color: #a3d1ff;
  height: 350px;
}

.skills .background div,
.contact .background div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
}

.skills .background h3::before,
.contact .background h3::before {
  background-color: #FFF;
  opacity: 1;
  width: 50%;
  left: 48%;
}

.skills .icons .iconCont,
.contact .icons .iconCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 84px;
  padding-bottom: 30px;
}

.skills .icons .iconCont li,
.contact .icons .iconCont li {
  text-align: center;
  padding-top: 50px;
  width: 25%;
  min-width: 150px;
}

.skills .icons .iconCont li i,
.contact .icons .iconCont li i {
  font-size: 8rem;
  color: #141c24;
  width: 100%;
  cursor: crosshair;
}

.skills .icons .iconCont li i:hover, .skills .icons .iconCont li i:focus,
.contact .icons .iconCont li i:hover,
.contact .icons .iconCont li i:focus {
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: shakeX;
          animation: shakeX;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.skills .icons .iconCont li p,
.contact .icons .iconCont li p {
  font: 300 1.8rem "Noto Sans JP", sans-serif;
  padding-top: 20px;
  letter-spacing: 2px;
}

.projectCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.projectCont h3 {
  width: 75%;
  margin-bottom: 100px;
}

.projectCont div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 10px;
  width: 60%;
  padding: 30px;
  margin-bottom: 100px;
  position: relative;
}

.projectCont div h4 {
  font: 700 2.2rem "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.projectCont div img {
  width: 25%;
}

.projectCont div p {
  font: 300 1.8rem "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
  width: 77%;
  padding-bottom: 20px;
}

.projectCont div button {
  border: 2px solid #000;
  margin-bottom: 5px;
}

.projectCont div button a {
  text-transform: uppercase;
}

.projectCont div .links {
  font-weight: 700;
}

.projectCont div .links a:hover,
.projectCont div .links a:focus {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.projectCont div .mockUpTwo {
  position: absolute;
  width: 80%;
  top: 70px;
  left: 80%;
}

.projectCont div .mockUpFour {
  position: absolute;
  width: 290px;
  top: 40px;
  left: 90%;
}

.projectCont .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.projectCont .projects .links {
  text-align: end;
}

.projectCont .projects .mockUpOneA {
  position: absolute;
  width: 160px;
  top: 8px;
  right: 122%;
  z-index: 20;
}

.projectCont .projects .mockUpOneB {
  position: absolute;
  width: 81%;
  top: 75px;
  right: 80%;
  z-index: 10;
}

.projectCont .projects .mockUpThree {
  position: absolute;
  width: 110%;
  top: 45px;
  right: 65%;
}

.contact .background {
  height: 400px;
}

.contactCont.border .emailCont {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contactCont.border .emailCont a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contactCont.border .emailCont a p {
  font: 700 2.2rem "Noto Sans JP", sans-serif;
  margin: 40px 0 20px;
}

.contactCont.border .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: start;
}

.contactCont.border .contactIcons i {
  font-size: 5rem;
  color: #141c24;
  text-shadow: #FFF 5px 5px;
  width: 100%;
  margin: 0 10px;
  padding: 20px;
  cursor: pointer;
}

.contactCont.border .contactIcons i:hover, .contactCont.border .contactIcons i:focus {
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: shakeX;
          animation: shakeX;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.bottomDesign {
  height: 70px;
  border: 2px solid black;
  border-top: none;
}

footer {
  text-align: center;
  height: 50px;
  margin: 50px 0;
}

footer p {
  font: 300 2rem "Noto Sans JP", sans-serif;
  position: relative;
  z-index: 10;
}

footer p::before {
  content: '';
  background-color: #6cb5ff;
  opacity: .3;
  width: 16%;
  height: 50%;
  position: absolute;
  bottom: 44%;
  left: 41.8%;
  z-index: -10;
}

footer img {
  min-width: 80px;
  width: 3%;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .navOne {
    display: none;
  }
  header .hamburger {
    display: block;
  }
  .headerCont {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerCont div {
    text-align: center;
  }
  .about {
    padding: 100px 0 100px;
  }
  .about .wrapperTwo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .wrapperTwo div {
    width: 100%;
  }
  .about .wrapperTwo .imgCont img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 97%;
    margin-top: 40px;
  }
  .mockUpOneB {
    display: none;
  }
  .projectCont div,
  .projectCont .projects {
    width: 100%;
    margin-bottom: 100px;
  }
  .projectCont div h4,
  .projectCont div p,
  .projectCont .projects h4,
  .projectCont .projects p {
    font-size: 1.6rem;
    width: 100%;
  }
  .projectCont div .links,
  .projectCont .projects .links {
    text-align: center;
  }
  .projectCont div .mockUpOneA,
  .projectCont div .mockUpTwo,
  .projectCont div .mockUpThree,
  .projectCont div .mockUpFour,
  .projectCont .projects .mockUpOneA,
  .projectCont .projects .mockUpTwo,
  .projectCont .projects .mockUpThree,
  .projectCont .projects .mockUpFour {
    position: initial;
    width: 100%;
    margin-top: 20px;
  }
  .projectCont div .mockUpThree,
  .projectCont .projects .mockUpThree {
    width: 138%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projectCont div .mockUpOneA,
  .projectCont div .mockUpFour,
  .projectCont .projects .mockUpOneA,
  .projectCont .projects .mockUpFour {
    position: initial;
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projectCont .projects {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 640px) {
  header section .headerCont .name h1,
  header section .headerCont .name p {
    font-size: 3rem;
  }
  header section .headerCont .name h2 {
    font-size: 4.2rem;
  }
  header section .headerCont .name h2 span {
    font-size: 3.2rem;
  }
  header section .headerCont .name img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about .wrapperTwo div .resume {
    width: 100%;
  }
  .skills .icons .iconCont li i {
    font-size: 5rem;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  h3 {
    font-size: 5rem;
  }
  .about .wrapperTwo div {
    width: 100%;
  }
  .skills .background {
    height: 200px;
  }
  .skills .icons .iconCont {
    padding-bottom: 0;
  }
  .skills .icons .iconCont li {
    min-width: 80px;
  }
  .skills .icons .iconCont li p {
    font-size: 1.3rem;
  }
  .projectCont h3 {
    margin-bottom: 50px;
  }
  .projectCont div .mockUpOneA,
  .projectCont div .mockUpFour,
  .projectCont .projects .mockUpOneA,
  .projectCont .projects .mockUpFour {
    width: 100%;
  }
  .contactCont.border .emailCont a p {
    font-size: 1.8rem;
  }
  .contactCont.border .contactIcons i {
    font-size: 4rem;
    padding: 5px;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer p::before {
    width: 70%;
    left: 15%;
  }
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.align-left.slide-in {
  -webkit-transform: translateX(-30%) scale(0.95);
          transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  -webkit-transform: translateX(30%) scale(0.95);
          transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  -webkit-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}
